{% load i18n static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{% trans 'Admin Panel' %}</title>
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/icons.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/custom.css' %}" rel="stylesheet" type="text/css" />

    {% block extra_head %}
    {% endblock %}
</head>

<body>
    {% if messages %}
    <ul class="messages d-none">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
    </ul>
    {% endif %}
    {% block body %}
    {% block topbar %}{% include 'topbar.html' %}{% endblock %}
    {% if request.user.is_authenticated %}
    {% block sidebar %}{% include 'sidebar.html' %}{% endblock %}
    {% endif %}
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container-fluid">

                <!-- Page-Title -->
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="page-title"> {% block title %}{% endblock %}</h4>
                        {% block breadcrumb %}
                        {% endblock %}
                    </div>
                </div>
                {% block content %}
                {% endblock %}
            </div> <!-- container -->

        </div> <!-- content -->

        <footer class="footer text-right">
            &copy; 2020. All rights reserved.
        </footer>

    </div>
    {% endblock %}

    <script>
        var resizefunc = [];
    </script>

    <!-- jQuery  -->
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/detect.js' %}"></script>
    <script src="{% static 'assets/js/fastclick.js' %}"></script>
    <script src="{% static 'assets/js/jquery.slimscroll.js' %}"></script>
    <script src="{% static 'assets/js/jquery.blockUI.js' %}"></script>
    <script src="{% static 'assets/js/waves.js' %}"></script>
    <script src="{% static 'assets/js/wow.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.nicescroll.js' %}"></script>
    <script src="{% static 'assets/js/jquery.scrollTo.min.js' %}"></script>
    <script src="{% static 'assets/js/notify.js' %}"></script>
    <script src="{% static 'assets/js/notify-metro.js' %}"></script>
    <script src="{% static 'assets/js/jquery.core.js' %}"></script>
    <script src="{% static 'assets/js/jquery.app.js' %}"></script>

    <script>
        window.onload = () => {
            $('.messages').find('li').each((inedx, element) => {
                const class_name = $(element).attr('class');
                const message = $(element).text();
                $.Notification.autoHideNotify(class_name, 'top center', '', message);
            });
        };
    </script>
</body>

</html>