{% load i18n %}

<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
        <div id="sidebar-menu">
            <ul>
                {% if request.user.is_superuser %}
                <li>
                    <a href="{% url 'service_provider_requests' %}" class="waves-effect"><i
                            class="ti-share"></i><span>{% trans 'Service Provider Requests' %}</a>
                </li>
                <li>
                    <a href="{% url 'service_providers' %}" class="waves-effect"><i
                            class="ti-user"></i><span>{% trans 'Service Providers' %}</a>
                </li>
                <li>
                    <a href="{% url 'customers' %}" class="waves-effect"><i
                            class="ti-user"></i><span>{% trans 'Customers' %}</a>
                </li>
                {% endif %}
                {% if request.user.is_service_provider %}
                <li>
                    <a href="{% url 'service_provider_profile' request.user.pk %}" class="waves-effect"><i
                            class="ti-user"></i><span>{% trans 'Profile' %}</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>