{% load i18n %}
<div class="topbar">

    <!-- LOGO -->
    <div class="topbar-left">
        <div class="text-center">
            <a href="{% url 'dashboard' %}" class="logo"><i class="icon-magnet icon-c-logo"></i><span>Ub<i
                        class="md md-album"></i>ld</span></a>
            <!-- Image Logo here -->
            <!--<a href="index.html" class="logo">-->
            <!--<i class="icon-c-logo"> <img src="assets/images/logo_sm.png" height="42"/> </i>-->
            <!--<span><img src="assets/images/logo_light.png" height="20"/></span>-->
            <!--</a>-->
        </div>
    </div>

    <!-- Button mobile view to collapse sidebar menu -->
    <nav class="navbar-custom">
        <ul class="list-inline float-right mb-0">
            {% if request.user.is_authenticated %}
            <li class="list-inline-item dropdown notification-list">
                <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="#"
                    role="button" aria-haspopup="false" aria-expanded="false">
                    {% if request.user.profile_pic %}<img src="{{ request.user.profile_pic.url }}" alt="user"
                        class="rounded-circle"> {% else %} <i class="fa fa-user-circle"> </i>
                    {% if request.user.first_name or request.user.last_name %}{% blocktrans with user=request.user.first_name|add:" "|add:request.user.last_name %}{{ user }}{% endblocktrans %}{% else %}{% blocktrans with user=request.user %}{{ user }}{% endblocktrans %}{% endif %}{% endif %}
                </a>
                <div class="dropdown-menu dropdown-menu-right profile-dropdown" aria-labelledby="Preview">
                    <a href="{% url 'user_settings' %}" class="dropdown-item notify-item">
                        <i class="fa fa-user-circle-o"></i> <span>{% trans 'Personal Settings' %}</span>
                    </a>
                    <a href="{% url 'password_change' %}" class="dropdown-item notify-item">
                        <i class="md md-vpn-key"></i> <span>{% trans 'Change Password' %}</span>
                    </a>
                    <a href="{% url 'logout' %}" class="dropdown-item notify-item">
                        <i class="md md-settings-power"></i> <span>{% trans 'Logout' %}</span>
                    </a>
                </div>
            </li>
            {% else %}
            <li>
                <a class="nav-link waves-effect waves-light nav-user text-white" href="{% url 'login' %}"
                    role="button">{% trans "Login" %}
                </a>
            </li>
            {% endif %}
        </ul>

        {% if request.user.is_authenticated %}
        <ul class="list-inline menu-left mb-0">
            <li class="float-left">
                <button class="button-menu-mobile open-left waves-light waves-effect">
                    <i class="dripicons-menu"></i>
                </button>
            </li>
        </ul>
        {% endif %}
    </nav>

</div>