{% extends "base_generic.html" %}
{% load i18n %}
{% block body %}
<div class="wrapper-page">
    <div class="card-box">
        <div class="p-20">
            <div class="success-animation">
                <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                    <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
                    <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" /></svg>
            </div>
            <form method="post" action="index.html" role="form" class="text-center">
                <div class="form-group">
                    <h3>{% trans 'See you again!' %}</h3>
                    <p class="text-muted">{% trans "You are now successfully logout." %}</p>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center">
            <a href="{% url 'login'%}">{% trans 'Click here to login again.' %}</a>
        </div>
    </div>
</div>
{% endblock %}