{% extends "base_generic.html" %}

{% load i18n crispy_forms_tags socialaccount %}

{% block body %}
<div class="wrapper-page">
    <div class="card-box">
        <div class="panel-heading">
            <h4 class="text-center"><strong class="text-custom">{% trans 'Admin Panel' %}</strong></h4>
        </div>
        <div class="p-20">
            {% if next %}
            <div class="alert alert-warning">
                {% if user.is_authenticated %}
                <p>{% blocktrans %}Your account doesn't have access to this page. To proceed, please login with an
                    account that has access.{% endblocktrans %}</p>
                {% else %}
                <p>{% blocktrans %}Please login to see this page.{% endblocktrans %}</p>
                {% endif %}
            </div>
            {% elif user.is_authenticated %}
            <div class="alert border-warning text-warning">
                <p class="mb-0">{% blocktrans with user=request.user %}Currently, You are login with
                    <b>{{ user }}</b>.{% endblocktrans %}</p>
            </div>
            {% endif %}
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="form-group text-center">
                    <div class="col-12">
                        <button class="btn btn-pink btn-block text-uppercase waves-effect waves-light"
                            type="submit">{% trans 'Log In' %}
                        </button>
                    </div>
                </div>
                <div class="form-group m-b-0 text-center">
                    <div class="col-12 text-center">
                        <h5 class="font-18"><b>{% trans 'Login With' %}</b></h5>
                    </div>
                    <div class="col-12">
                        <a href="{% provider_login_url 'facebook' %}"
                            class="btn btn-sm btn-facebook waves-effect waves-light m-t-10 mr-2">
                            <i class="fa fa-facebook m-r-5"></i>{% trans 'Facebook' %}
                            </button>

                            <a href="{% provider_login_url 'google' %}"
                                class="btn btn-sm btn-googleplus waves-effect waves-light m-t-10">
                                <i class="fa fa-google m-r-5"></i> {% trans 'Google' %}
                            </a>
                    </div>
                </div>
                <div class="form-group m-t-30 m-b-0">
                    <div class="col-12">
                        <a href="{% url 'service_provider_signup' %}" class="text-dark"><i
                                class="fa fa-lock m-r-5"></i>{% trans "SignUp as Service Provider" %}</a><br />
                        <a href="{% url 'password_reset' %}" class="text-dark"><i
                                class="fa fa-lock m-r-5"></i>{% trans "Forgot your password?" %}</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}