{% extends "base_generic.html" %}
{% load i18n crispy_forms_tags %}
{% block body %}
<div class="wrapper-page">
    <div class="card-box">
        <div class="panel-heading">
            <h4 class="text-center">{% trans 'Reset Password' %}</h4>
        </div>
        {% if validlink %}
        <p>{% blocktrans %}Please enter (and confirm) your new password.{% endblocktrans %}</p>
        <form action="" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-pink btn-block text-uppercase waves-effect waves-light"
                type="submit">{% trans 'Change my password' %}
            </button>
        </form>
        {% else %}
        <h1>{% blocktrans %}Password reset failed{% endblocktrans %}</h1>
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please
            request a new password reset.{% endblocktrans %}</p>
        {% endif %}
    </div>
</div>
{% endblock %}