{% extends "base_generic.html" %}
{% load i18n crispy_forms_tags%}
{% block body %}
<div class="wrapper-page">
    <div class="card-box">
        <div class="panel-heading">
            <h4 class="text-center">{% trans 'Reset Password' %}</h4>
        </div>
        <div class="p-20">
            <div class="alert alert-info alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                {% blocktrans %}Enter your <b>Email</b> and instructions will be sent to you!{% endblocktrans %}
            </div>
            <form action="" method="post">
                {% csrf_token %}
                {{form|crispy}}
                <div class="text-center">
                    <button type="submit"
                        class="btn btn-pink w-sm waves-effect waves-light">{% trans 'Reset Password' %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}