{% extends "base_generic.html" %}
{% load i18n %}
{% block body %}
<div class="wrapper-page">
    <div class="card-box">
        <div class="text-center">
            <div class="success-animation">
                <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                    <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
                    <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" /></svg>
            </div>
            <h3>{% trans 'Success!' %}</h3>
            <p class="text-muted">
                {% trans "We've emailed you instructions for setting your password. If they haven't arrived in a few minutes, check your spam folder." %}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center">
            {% trans 'Are you want to login?' %} <a href="{% url 'login'%}">{% trans 'Click here' %}</a>
        </div>
    </div>
</div>
{% endblock %}