{% extends "base_generic.html" %}
{% load i18n crispy_forms_tags%}

{% block title %}{% trans 'Change Password' %}{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">{% trans 'Home' %}</a></li>
    <li class="breadcrumb-item active">{% trans 'Change Password' %}</li>
</ol>
{% endblock %}

{% block content %}
<div class="card-box">
    <div class="row">
        <div class="col-lg-4">
            <p>{% blocktrans %}Please enter your old password, for security’s sake, and then enter your new password
                twice so we can verify you typed it in correctly.{% endblocktrans %}</p>
            <form action="" class="m-10" method="post">
                {% csrf_token %}
                {{form|crispy}}
                <div class="text-center">
                    <button type="submit"
                        class="btn btn-pink w-sm waves-effect waves-light">{% trans 'Change Password' %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}