{% extends "base_generic.html" %}

{% load i18n crispy_forms_tags%}

{% block body %}
<div class="wrapper-page">
    <div class="card-box">
        <div class="panel-heading">
            <h4 class="text-center"><strong class="text-custom">{% trans 'Service Provider SignUp' %}</strong></h4>
        </div>
        <div class="p-20">
            <form action="{% url 'service_provider_signup' %}" class="m-10" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{form|crispy}}
                <div class="text-center">
                    <button type="submit"
                        class="btn btn-pink w-sm waves-effect waves-light">{% trans 'Register' %}</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center">
            {% trans 'Are you want to login?' %} <a href="{% url 'login' %}">{% trans 'Click here' %}</a>
        </div>
    </div>
</div>
{% endblock %}