{% extends 'base_generic.html' %}

{% load i18n %}

{% block content %}
<div class="container m-t-20">
    <div class="card-box">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <form method='GET'>
                        <div class="input-group m-t-10">
                        <input type="text" id="q" name="q" value="{{request.GET.q}}" class="form-control input-lg" placeholder="Search...">
                        <span class="input-group-btn">
                            <button type="submit" class="btn waves-effect waves-light btn-default btn-lg"><i
                                    class="fa fa-search m-r-5"></i> {% trans 'Search' %}</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8 text-center m-t-30">
                <h5>{% blocktrans with query=request.GET.q %}Search Results For "{{ query }}" {% endblocktrans %}</h5>
            </div>
        </div>
        {% for provider in service_providers %}
        {{ provider.user }}
        <div class="search-item">
            <div class="media">
                <img class="d-flex mr-3 rounded-circle" src="{{ provider.user.profile_pic.url }}" height="54">
                <div class="media-body">
                    <h5 class="media-heading">
                        <a href="#" class="text-dark">{% if provider.user.first_name %}{{ provider.user.first_name|add:" "|add:provider.user.last_name }}{% else %}{{ provider.user.username }}{% endif %} ({{ provider.degree }})</a>
                    </h5>
                    <p class="font-13">
                        <b>{% trans 'Specialize:' %}</b>
                        <span>{{ provider.specialize }}</span>
                    </p>
                    <p class="m-b-0 font-13">
                        <b>{% trans 'Location:' %}:</b>
                        <span>{{ provider.location }}</span>
                    </p>
                </div>
            </div>
            <hr>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}