{% extends "base_generic.html" %}

{% load i18n crispy_forms_tags%}

{% block title %}{% trans title %}{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">{% trans 'Home' %}</a></li>
    <li class="breadcrumb-item active">{% trans title %}</li>
</ol>
{% endblock %}

{% block content %}
<div class="card-box">
    <div class="row">
        <div class="col">
            {% if user_list %}
            <div class="nicescroll">
                <div class="table-responsive">
                    <table class="table table-actions-bar">
                        <thead>
                            <tr>
                                <th>{% trans 'User' %}</th>
                                <th>{% trans 'Email' %}</th>
                                <th>{% trans 'Phone Number' %}</th>
                                <th>{% trans 'Action' %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in user_list %}
                            <tr>
                                <td>{{ user.username }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.phone_number }}</td>
                                {% if requests %}
                                <td>
                                    <a href="{% url 'service_provider_request_approve' user.pk %}"
                                        class="table-action-btn"><i class="md md-check"></i></a>
                                    <a href="{% url 'service_provider_request_deny' user.pk %}"
                                        class="table-action-btn"><i class="md md-close"></i></a>
                                </td>
                                {% else %}
                                <td>
                                <a href="{% url delete_url_name user.pk %}"
                                        class="table-action-btn"><i class="md md-delete"></i></a>
                                </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% else %}
            <p class="text-center">{% blocktrans with title=title %}No {{ title }} yet.{% endblocktrans %}</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}