{% extends "base_generic.html" %}
{% load i18n crispy_forms_tags%}

{% block title %}{% trans 'Delete ' %}{% trans object.username %}{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">{% trans 'Home' %}</a></li>
    <li class="breadcrumb-item"><a href="{% url list_url_name %}">{% trans title %}</li></a></li>
    <li class="breadcrumb-item active">{% trans 'Delete ' %}{% trans object.username %}</li>
</ol>
{% endblock %}

{% block content %}
<div class="card-box">
    <div class="row">
        <div class="col-lg-4">
            <form method="post">{% csrf_token %}
                <p>Are you sure you want to delete "{{ object }}"?</p>
                <button type="submit" class="btn btn-pink w-sm waves-effect waves-light">{% trans 'Confirm' %}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}