{% extends "base_generic.html" %}
{% load i18n crispy_forms_tags %}

{% block title %}{% trans 'Personal Settings' %}{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">{% trans 'Home' %}</a></li>
    <li class="breadcrumb-item active">{% trans 'Personal Settings' %}</li>
</ol>
{% endblock %}

{% block content %}
<div class="card-box">
    <div class="row">
        <div class="col-lg-4">
            <form action="" class="m-10" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="text-center">
                    <button type="submit"
                        class="btn btn-pink w-sm waves-effect waves-light">{% trans 'Change Settings' %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}